<Html>  
    <head>   
    <title>  
    Registration Page  
    </title>  
        </head>  
        <body bgcolor="Lightskyblue">  
            <br>  
            <br>  
            <form action='' method='POST' > {% csrf_token %}
                <label> Mess Item form </label> <br><br>
                <label> Meal  </label>         
                <input type="text" class= 'field' placeholder = 'Meal' name="meal"  size="15"/> <br> <br>  
                <label> Price </label>     
                <input type="int" class= 'field' placeholder = 'price' name="price" size="15"/> <br> <br>  
                <label> weekday </label>         
                <input type="text" class = 'field' placeholder="weekday" name = 'weekday'  size="15"/> <br> <br>  
                <label> servetime </label>         
                <input type="text" class = 'field' placeholder="servetime" name = 'servetime'  size="15"/> <br> <br>  
                
            
                <input type="submit"/>  
            </form>  
       
            
        </body> 
        
    </head>    
    
    

</html>  






