<Html>  
    <head>   
    <title>  
        Student Addition Page for Resident Tutor
    </title>  
        </head>  
        <body bgcolor="Lightskyblue">  
            <br>  
            <br>  
            <form action='' method='POST' > {% csrf_token %}
                <label> Student Addition Form </label> <br><br>
                <label> Student roll number  </label>         
                <input type="text" class= 'field' placeholder = 'roll_number' name="roll_number"  size="15"/> <br> <br>  
                <label> Student Name </label>     
                <input type="text" class= 'field' placeholder = 'Name' name="sname" size="15"/> <br> <br>  
                <label> Session </label>         
                <input type="text" class = 'field' placeholder="Session" name = 'ssession'  size="15"/> <br> <br>  
                <label> Department </label>         
                <input type="text" class = 'field' placeholder="Department" name = 'department'  size="15"/> <br> <br>  
                <label> Phone Number </label>         
                <input type="text" class = 'field' placeholder="Phone Number" name = 'phone'  size="15"/> <br> <br>  
                <label> Room Number </label>         
                <input type="text" class = 'field' placeholder="Room Number" name = 'room_num'  size="15"/> <br> <br>  
                <label> Hostel </label>         
                <input type="text" class = 'field' placeholder="hostel" name = 'hostel'  size="15"/> <br> <br>  
                
            
                <input type="submit"/>  
            </form>  
       
            
        </body> 
        
    </head>    
    
    

</html>  




